[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
pytest-qt = "*"

[packages]
dataclasses = "*"
googleapis-common-protos = "*"
grpcio = "*"
grpcio-tools = "*"
keyring = "*"
protobuf = "*"
psutil = "*"
qrcode = "*"
requests = "*"
webassets = "*"
Flask = "*"
Flask-Admin = "*"
Flask-Caching = "*"
Flask-QRcode = "*"
Flask-WTF = "*"
Frozen-Flask = "*"
Jinja2 = "*"
Pillow = "*"
PyInstaller = "*"
PySide2 = "*"
WTForms = "*"

[requires]
python_full_version = "3.7.2"
