colorama
dataclasses
dbus-python
googleapis-common-protos
grpcio
grpcio-tools
humanize
jinja2
keyring
pillow
protobuf
psutil
pygments
pyinstaller
PySide2<=5.12.0
PyTest
pytest-qt
qrcode
requests
requests-mock
secretstorage
shiboken2<=5.12.0
structlog
webassets
wtforms
