flask
flask-admin
flask-caching
flask-wtf
Frozen-Flask
googleapis-common-protos
grpcio
grpcio-tools
jinja2
keyring
protobuf
psutil
pyinstaller
PySide2
PyTest
pytest-qt
Flask-QRcode
requests
dataclasses
qrcode
pillow
webassets
wtforms
