dataclasses
flask
flask-admin
flask-caching
Flask-QRcode
flask-wtf
Frozen-Flask
googleapis-common-protos
grpcio
grpcio-tools
jinja2
keyring
pillow
protobuf
psutil
pyinstaller
PySide2
PyTest
pytest-qt
qrcode
requests
requests
webassets
wtforms
