{% extends 'admin/base.html' %}
{% block page_body %}
    <div class="album py-5">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <div class="card mb-4 shadow-sm">
                        <svg class="bd-placeholder-img card-img-top"
                             width="100%"
                             height="225" xmlns="http://www.w3.org/2000/svg"
                             preserveAspectRatio="xMidYMid slice"
                             focusable="false"
                             role="img" aria-label="Placeholder: Thumbnail">
                            <title>
                                Placeholder</title>
                            <rect fill="#55595c" width="100%"
                                  height="100%"></rect>
                            <text fill="#eceeef" dy=".3em" x="50%" y="50%">
                                Thumbnail
                            </text>
                        </svg>
                        <div class="card-body">
                            <p class="card-text">This is a wider card with
                                supporting text below as a natural lead-in to
                                additional content. This content is a little bit
                                longer.</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <button type="button"
                                            class="btn btn-sm btn-outline-secondary">
                                        View
                                    </button>
                                    <button type="button"
                                            class="btn btn-sm btn-outline-secondary">
                                        Edit
                                    </button>
                                </div>
                                <small class="text-muted">9 mins</small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card mb-4 shadow-sm">
                        <svg class="bd-placeholder-img card-img-top"
                             width="100%"
                             height="225" xmlns="http://www.w3.org/2000/svg"
                             preserveAspectRatio="xMidYMid slice"
                             focusable="false"
                             role="img" aria-label="Placeholder: Thumbnail">
                            <title>
                                Placeholder</title>
                            <rect fill="#55595c" width="100%"
                                  height="100%"></rect>
                            <text fill="#eceeef" dy=".3em" x="50%" y="50%">
                                Thumbnail
                            </text>
                        </svg>
                        <div class="card-body">
                            <p class="card-text">This is a wider card with
                                supporting text below as a natural lead-in to
                                additional content. This content is a little bit
                                longer.</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <button type="button"
                                            class="btn btn-sm btn-outline-secondary">
                                        View
                                    </button>
                                    <button type="button"
                                            class="btn btn-sm btn-outline-secondary">
                                        Edit
                                    </button>
                                </div>
                                <small class="text-muted">9 mins</small>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="card mb-4 shadow-sm">
                        <svg class="bd-placeholder-img card-img-top"
                             width="100%"
                             height="225" xmlns="http://www.w3.org/2000/svg"
                             preserveAspectRatio="xMidYMid slice"
                             focusable="false"
                             role="img" aria-label="Placeholder: Thumbnail">
                            <title>
                                Placeholder</title>
                            <rect fill="#55595c" width="100%"
                                  height="100%"></rect>
                            <text fill="#eceeef" dy=".3em" x="50%" y="50%">
                                Thumbnail
                            </text>
                        </svg>
                        <div class="card-body">
                            <p class="card-text">This is a wider card with
                                supporting text below as a natural lead-in to
                                additional content. This content is a little bit
                                longer.</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <button type="button"
                                            class="btn btn-sm btn-outline-secondary">
                                        View
                                    </button>
                                    <button type="button"
                                            class="btn btn-sm btn-outline-secondary">
                                        Edit
                                    </button>
                                </div>
                                <small class="text-muted">9 mins</small>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="card mb-4 shadow-sm">
                        <svg class="bd-placeholder-img card-img-top"
                             width="100%"
                             height="225" xmlns="http://www.w3.org/2000/svg"
                             preserveAspectRatio="xMidYMid slice"
                             focusable="false"
                             role="img" aria-label="Placeholder: Thumbnail">
                            <title>
                                Placeholder</title>
                            <rect fill="#55595c" width="100%"
                                  height="100%"></rect>
                            <text fill="#eceeef" dy=".3em" x="50%" y="50%">
                                Thumbnail
                            </text>
                        </svg>
                        <div class="card-body">
                            <p class="card-text">This is a wider card with
                                supporting text below as a natural lead-in to
                                additional content. This content is a little bit
                                longer.</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <button type="button"
                                            class="btn btn-sm btn-outline-secondary">
                                        View
                                    </button>
                                    <button type="button"
                                            class="btn btn-sm btn-outline-secondary">
                                        Edit
                                    </button>
                                </div>
                                <small class="text-muted">9 mins</small>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>



    <h2>
        Guides
    </h2>
    <ol>
        <li>
            <a target="_blank"
               href="https://medium.com/@pierre_rochard/windows-macos-lightning-network-284bd5034340">Set
                up your BTC/LN nodes</a>
        </li>
        <li>
            <a target="_blank"
               href="https://medium.com/@pierre_rochard/easy-lightning-with-node-launcher-zap-488133edfbd">Set
                up Zap Desktop</a>
        </li>
        <li>
            <a target="_blank"
               href="https://medium.com/@pierre_rochard/send-a-lightning-payment-with-zap-desktop-17b74b65b9b8">Open
                a chanel and send a payment</a>
        </li>
        <li>
            <a target="_blank"
               href="https://medium.com/@pierre_rochard/bitcoin-lightning-joule-chrome-extension-ac149bb05cb9">Install
                the Joule Chrome extension</a>
        </li>
    </ol>

{% endblock %}