{% extends 'admin/base.html' %}

{% import 'macros/definition_list_macro.html' as dl %}

{% block body %}
    <script>
        var clipboard = new ClipboardJS('.btn');
    </script>
    <div class="album py-5">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="card mb-4 shadow-sm">
                        <div style="height: 400px;">
                            <img style="max-width:100%;
                                    max-height:100%;
                                    display: block;
                                    margin-left: auto;
                                    margin-right: auto;"
                                 src="{{ url_for('static',filename='img/small_badger.png') }}"
                                 alt="Honey Badger">
                        </div>
                        <div class="card-body">
                            <div class="col-md-12">
                                <h4>Connect</h4>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-md-12 text-center">
                                            <label for="foo">
                                                Pubkey@Host:Port
                                            </label>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <input class="form-control"
                                                   style="width: 100%;
                                                          text-align: center;"
                                                   id="foo"
                                                   value="0331f80652fb840239df8dc99205792bba2e559a05469915804c08420230e23c7c@mainnet.node.lightningpowerusers.com:9735">
                                        </div>
                                    </div>
                                    <div class="row" style="padding-top: 20px;">
                                        <div class="col-md-12 text-center">
                                            <button type="button"
                                                    class="btn btn-lg btn-outline-secondary"
                                                    data-clipboard-target="#foo">
                                                Copy
                                            </button>
                                        </div>
                                    </div>

                                    <div class="row" style="padding-top: 20px;">
                                        <div class="col-md-12 text-center">
                                            <div class="alert alert-warning">
                                                <h4 class="alert-heading">
                                                    Recommended Channel Size
                                                </h4>
                                                <p class="mb-0">
                                                    Between 500,000 satoshis (~$20) and 16,500,000 satoshis (~$600). Thank you!
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>

                    </div>

                </div>
            </div>

            <div class="row">
                <div class="col-md-12" style="align-content: center">
                    <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSeGQ40a6axskVMpYV6Sjie6qT3bMnHY3aEKGukSHsbNmj5FGw/viewform?embedded=true"
                            width="640" height="680" frameborder="0"
                            marginheight="0" marginwidth="0" align="center"
                            style="display: block; text-align: center; margin: auto;">
                        Loading...
                    </iframe>
                </div>
            </div>

            {% if info %}
                <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-1">
                                </div>
                                <div class="col-md-10">
                                    {{ dl.definition_list(title='Node Info', data_dict=info) }}
                                </div>
                                <div class="col-md-1"></div>
                            </div>
                        </div>
                    </div>
                </div>
                </div>
            {% endif %}
        </div>
    </div>

{% endblock %}